<h1>EAT DA BURGER!</h1>

<h2>Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/ burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2> Eaten Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<form id="addBurger" action="/api/burger" method="POST">
  <label> Add a burger?</label>
  <textarea id="burgerPlace" name="burger_name"></textarea>
  <input type="submit">
</form>

{{!-- <script>
  $(document).on("click",".eatBurger",function(){

  })


   $(document).on("click",".deleteBurger",function(){
var id = $(this).data("id");
alert(id);
$.ajax({
  url:"/api/burger/"+id,
  method:"DELETE"
}).then(function(data){
  console.log(data)
})

  })
</script> --}}